<a href="https://colab.research.google.com/github/GapasVladymir/CPE-21A-PLD-1-1/blob/main/Nested_If_Else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=41
if x>10:
  print("above 10")
  if x>20:
    print("above 20!")
  else:
    print("not above 20.")

above 10
above 20!

Nested If Else

In [ ]:
x = 41

if x>10:
  print("above ten")
  if x<20:
    print("below twenty")
  else:
    print("above twenty")
    if x<30:
      print("below thirty")
    else:
      print("above thirty")
      if x<40:
        print("below forty")
      else:
        print("above forty")
        if x<50:
          print("below fifty")
        else:
          print("above fifty")
else:
  print("not above ten")

above ten
above twenty
above thirty
above forty
below fifty

In [ ]:

print("Enter a number:")
x = int(input())
if x>10:
  print("above 10")
  if x<20:
    print("below 20")
  else:
    print("above 20")
    if x<30:
      print("below 30")
    else:
      print("above 30")
      if x<40:
        print("below 40")
      else:
        print("above 40")
        if x<50:
          print("below 50")
        else:
          print("above 50")
else:
  print("below 10")

Enter a number:
41
above 10
above 20
above 30
above 40
below 50

##Example 1

In [133]:
age = int(input("Insert Age: "))
if age>=18:
  print("qualified")
else:
  print("not qualified")

Insert Age:10
not qualified

##Example 2

In [144]:
number = float(input("Input Number: "))
if number>0:
  print("Positive")
elif number<0:
  print("Negative")
else:
  print("Zero")

Input Number: 10.1
Positive

##Example 3

In [140]:
grades = int(input("Insert Grade Here: "))

if grades >=75:
  print("Passed")
if grades < 0:
  print("Not Accepted")
elif grades == 74:
  print("Remidial")
elif grades < 74:
  print("Failed")

Insert Grade Here: 10
Failed